.header {
	margin-bottom: 3.0rem;
	margin-top:    2.0rem;
}
/* Larger than phablet */
@media (min-width: 550px) {
	.header {
		margin-bottom: 3.0rem;
		margin-top:    7.5rem;
	}
}

.navbar,
.navbar-spacer {
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	height: 4rem;
}
.navbar-list {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.navbar-item {
	display: inline;
	margin-right: 20px;
}
/* Larger than phablet */
@media (min-width: 550px) { .navbar-item { margin-right: 30px; } }
.navbar-link {
	color: #000;
	font-size: 1.2rem;
	text-decoration: none;
	text-transform: uppercase;
}
.navbar-link:hover,
.navbar-link:focus {
	color: #1EAEDB;
}
a {
	text-decoration: none;
}
a code,
a code:hover,
a code:focus {
	color: #000;
}

.publication           { margin-bottom: 1rem; }
.publication .authors  {                      }
.publication .year     {                      }
.publication .title    { font-weight: bold;   }
.publication .location { font-style: italic;  }
.publication .notes    { font-style: italic;  }
.links_abstract,
.links_bibtex          { display: none;       }
.publication .links a  { font-weight: bold;   }
.publication .abstract,
.publication .bibtex {
	display: none;
	background-color: #EFEFEF;
	border: 1px solid #E1E1E1;
	border-radius: 0.5rem;
	margin-bottom: 0.5rem;
}
.publication .abstract {
	padding: 2rem 1.5rem;
}
.publication .bibtex {
	/* We want to hide the fact that the last line is empty */
	padding: 2rem 1.5rem 0 1.5rem;
}
.publication .bibtex {
	font-family: monospace;
}