.header {
	margin-bottom: 3.0rem;
	margin-top:    2.0rem;
}
/* Larger than phablet */
@media (min-width: 550px) {
	.header {
		margin-bottom: 3.0rem;
		margin-top:    7.5rem;
	}
}

.navbar,
.navbar-spacer {
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	height: 4rem;
}
.navbar-list {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.navbar-item {
	display: inline;
	margin-right: 20px;
}
/* Larger than phablet */
@media (min-width: 550px) { .navbar-item { margin-right: 30px; } }
.navbar-link {
	color: #000;
	font-size: 1.2rem;
	text-decoration: none;
	text-transform: uppercase;
}
.navbar-link:hover,
.navbar-link:focus {
	color: #1EAEDB;
}
a {
	text-decoration: none;
}
a code,
a code:hover,
a code:focus {
	color: #000;
}

.info            { margin-bottom: 1rem;           }
.info .authors   { font-size: small;              }
.info .year      {                                }
.info .title     { font-weight: bold; display: block; font-size: large; line-height: 105%; }
.info .location  { font-style: italic;            }
.info .notes     { font-style: italic;            }
.info .links a   { font-weight: bold;             }
.info .abstract,
.info .bibtex    { display: none;
                   background-color: #EFEFEF;
                   border: 1px solid #E1E1E1;
                   border-radius: 0.5rem;
                   margin-bottom: 0.5rem;         }
.info .abstract  { padding: 2rem 1.5rem;          }
.info .bibtex    { padding: 2rem 1.5rem 0 1.5rem;
	               font-family: monospace;        }
.info .descr     { display: block;
                   font-size: small;
                   margin: 0 2rem;                }

.links_abstract,
.links_bibtex    { display: none;                 }

