        <h1>Matthew Bedder</h1>
        <div class="navbar">
          <ul class="navbar-list">
            <li class="navbar-item">
              <a class="navbar-link" href="{{ site.baseurl }}/">
                Home
              </a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="{{ site.baseurl }}/about">
                About
              </a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="{{ site.baseurl }}/publications">
                Publications
              </a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="{{ site.baseurl }}/misc">
                Misc.
              </a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="{{ site.baseurl }}/contact">
                Contact
              </a>
            </li>
          </ul>
        </div>